In [89]:
import pandas as pd

In [90]:
hotel=pd.read_csv(r'D:\Data Analytics\Python\Panda\Data Cleaning\hotel_bookings_messy.csv')

In [91]:
# first lookat the dataset
hotel

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,Resort Hotel,0,342,July-2015,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,1,Resort Hotel**,0,737,July-2015,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,2,Resort Hotel,0,7,July-2015,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,3,Resort Hotel,0,13,July-2015,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,4,Resort Hotel,0,14,July-2015,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,119385,City Hotel,0,23,August-2017,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,119386,City Hotel,0,102,August-2017,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,119387,City Hotel,0,34,August-2017,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,119388,City Hotel,0,109,August-2017,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,119389,City Hotel,0,205,August-2017,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [92]:
# drop/rename column
hotel.columns

Index(['Unnamed: 0', 'hotel', 'is_canceled', 'lead_time', 'arrival_date',
       'arrival_date_week_number', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [93]:
hotel.drop(columns=['Unnamed: 0'],inplace=True) #droping

# here axis=1 because we are telling panda that we are renaming column not
# hotel.rename({'adults':'num_adults','children':'num_children','babies':'num_babies'},inplace=True,axis=1)

# or 
hotel.rename(columns={'adults':'num_adults','children':'num_children','babies':'num_babies'},inplace=True)
hotel.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date',
       'arrival_date_week_number', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'num_adults',
       'num_children', 'num_babies', 'meal', 'country', 'market_segment',
       'distribution_channel', 'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [94]:
# Nans 
# below both return null or not available values in column 
# hotel.isna().sum()
# hotel.isnull().sum()

# here from this syntax we found out percentage of null in column
hotel.isnull().sum()*100/len(hotel)

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date                       0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
num_adults                         0.000000
num_children                       0.003350
num_babies                         0.000000
meal                               0.000000
country                            0.408744
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

In [95]:
# since company column has 94% null we will drop it 
# and agent has 14% null , we will not drop row with null instead we will replace null with placeholder value ex- -1 , here data is numeric so -1
# and also children have null

In [96]:
# this returns unique values
# hotel['agent'].unique()

# here am filling -1 to all na in agents column 
hotel['agent'].fillna(-1,inplace=True)

C:\Users\soura\AppData\Local\Temp\ipykernel_8328\584262402.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hotel['agent'].fillna(-1,inplace=True)

In [97]:
# this return all row with children null
# hotel[hotel['num_children'].isna()]

# since there are 4 row with null in children we'll drop it 
hotel.dropna(subset='num_children',inplace=True)

In [98]:
# hotel[hotel['country'].isna()][['hotel','country']]
# here i filled unknown to all null value in country column
hotel['country'].fillna('Unknown',inplace=True)

C:\Users\soura\AppData\Local\Temp\ipykernel_8328\2917020032.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hotel['country'].fillna('Unknown',inplace=True)

In [99]:
# since company has 94% of null we will drop it
hotel.drop(columns=['company'],inplace=True)

In [103]:
# check column datatype
# this is how we change the data type of the columns
hotel=hotel.astype({'is_canceled':'boolean','is_repeated_guest':'boolean','num_children':'int','agent':'int'})
hotel.dtypes

hotel                              object
is_canceled                       boolean
lead_time                           int64
arrival_date                       object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
num_adults                          int64
num_children                        int64
num_babies                          int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 boolean
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                               int64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [109]:
# Bin Columns
# Grouping different columns if they need to be
# Binning them , grouping them into a bucket like we do to age 0-10,11-20 like that 
# we will bin the lead_time
# hotel['lead_time'].unique()
# hotel['lead_time'].describe()

bins= [0,100,200,300,400,500,600,700,800]
labels=['0-100','101-200','201-300','301-400','401-500','501-600','601-700','701-800']

hotel['lead_time_bin']=pd.cut(hotel['lead_time'],bins=bins,labels=labels)

hotel[['lead_time','lead_time_bin']]

        lead_time lead_time_bin
0             342       301-400
1             737       701-800
2               7         0-100
3              13         0-100
4              14         0-100
...           ...           ...
119385         23         0-100
119386        102       101-200
119387         34         0-100
119388        109       101-200
119389        205       201-300

[119386 rows x 2 columns]

In [ ]:
# seperate data 
# seperate data from one column into multiple column

# here am saying split on basis of - and i want [0] index part since it return both part from them i want column which is at [0] index
hotel['arrival_date_month']=hotel['arrival_date'].str.split('-',expand=True)[0]
hotel['arrival_date_year']=hotel['arrival_date'].str.split('-',expand=True)[1]


# moving column to specific position
# pop() - returns item and drop from frame
col_to_move=hotel.pop('arrival_date_month')
hotel.insert(4,'arrival_date_month',col_to_move)


col_to_move=hotel.pop('arrival_date_year')
hotel.insert(5,'arrival_date_year',col_to_move)

hotel.head()

,hotel,is_canceled,lead_time,arrival_date,arrival_date_month,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_bin
0,Resort Hotel,False,342,July-2015,July,2015,27,1,0,0,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400
1,Resort Hotel**,False,737,July-2015,July,2015,27,1,0,0,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800
2,Resort Hotel,False,7,July-2015,July,2015,27,1,0,1,...,No Deposit,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
3,Resort Hotel,False,13,July-2015,July,2015,27,1,0,1,...,No Deposit,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
4,Resort Hotel,False,14,July-2015,July,2015,27,1,0,2,...,No Deposit,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100

In [ ]:
# here i droped arriavl_Date column which is now of now use.
hotel.drop(columns=['arrival_date'],inplace=True)

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_bin
0,Resort Hotel,False,342,July,2015,27,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400
1,Resort Hotel**,False,737,July,2015,27,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800
2,Resort Hotel,False,7,July,2015,27,1,0,1,1,...,No Deposit,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
3,Resort Hotel,False,13,July,2015,27,1,0,1,1,...,No Deposit,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
4,Resort Hotel,False,14,July,2015,27,1,0,2,2,...,No Deposit,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100

In [119]:
# String Cleaning
# here we will use regex
# what i did is i replace every instance of *,n,^ , to write it i use \ and wrote them and replace them with empty string make sure to regex is true. 
hotel['hotel']=hotel['hotel'].replace(r'[\*\n\^]','',regex=True)
hotel['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [ ]:
# Removing Duplicate
# keep = first/last/false

# keep='first' (default): Marks all duplicates as True, except the first occurrence, which is marked as False. 

# keep='last': Marks all duplicates as True, except the last occurrence, which is marked as False. 

# keep=False: Marks all occurrences of duplicates as True. 
# hotel.duplicated(keep=False)


# this print all duplicate rows
# hotel.loc[hotel.duplicated(keep=False)]

# subset specify what columns to look, if not give provided it drop duplicate from all columns
# hotel.drop_duplicates(subset=)
# below keep=first specifies that keep first instance of the record and delete the duplicate 
hotel.drop_duplicates(keep='first',inplace=True)

In [128]:
hotel.loc[hotel.duplicated(keep=False)]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_month, arrival_date_year, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, num_adults, num_children, num_babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date, lead_time_bin]
Index: []

[0 rows x 32 columns]